@inherits System.Web.Mvc.WebViewPage
@using System.Web.Mvc.Html
<!DOCTYPE html>
<html>
<head>
    <title>Start Design</title>
    <meta charset="utf-8" />
</head>
<body>
    <div>Start design</div>

    @Html.ValidationSummary(true)
    @using (var form = Html.BeginForm())
    {
        <div>
            @{/* TODO create form helper that allows command for model names */}
            @Html.Label("Name", "Design Name")
            @Html.TextBox("Name")
            @Html.ValidationMessage("Name")
        </div>

        <input type="submit" value="Start Design"/>
    }
</body>
</html>