@using MvcForms.Navigation
@namespace Lucid.Modules.AppFactory.Design.Blueprints
@inherits Lucid.Infrastructure.Lib.MvcApp.MvcAppPage<ListModel>
@model ListModel
@{Setup(pi =>
      {
          pi.Title = "Blueprints";
      });}

<table class="blueprintList table-striped">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var blueprint in Model.Blueprints)
        {
            <tr class="blueprintItem">
                <td>@blueprint.Name</td>
            </tr>
        }
    </tbody>
</table>

<br/>

@Html.LinkButtonModal("Start Blueprint", Actions.Start())
