@using MvcForms.Forms
@namespace Lucid.Modules.AppFactory.Design.Blueprints
@inherits Lucid.Infrastructure.Lib.MvcApp.MvcAppPage<ListModel>
@model ListModel
@{Setup(pi =>
      {
          pi.Title = "Blueprints";
      });}

<table class="blueprintList">
    <tbody>
        @foreach (var blueprint in Model.Blueprints)
        {
            <tr class="blueprintItem">
                <td>@blueprint.Name</td>
            </tr>
        }
    </tbody>
</table>
