@using MvcForms.Navigation
@namespace Lucid.Modules.AppFactory.Design.Blueprints
@inherits Lucid.Infrastructure.Lib.MvcApp.MvcAppPage<object>
@model object
@{Setup(pi =>
      {
          pi.Title = "Start Blueprint";
      });}

<p>
    Define a name to start a Blueprint.
</p>

<div class="modal-footer">
    @Html.LinkButtonCancelModal()
</div>
