@using MvcForms.Forms
@namespace Lucid.Modules.AppFactory.Design
@inherits Lucid.Infrastructure.Lib.MvcApp.MvcAppPage<object>
@model object
@{Setup(pi =>
      {
          pi.Title = "Blueprints";
      });}

<table id="blueprintList">

</table>
