<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Lucid - @ViewBag.Title</title>
</head>
<body>
    <div data-pjax="true">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/scripts")
</body>
</html>
