<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Lucid - @ViewBag.Title</title>
</head>
<body>
    <div data-pjax="true">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/pjax.js"></script>
    <script src="~/Scripts/lucid.js"></script>
</body>
</html>
