<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" href="../../favicon.ico">
    <title>Lucid - @ViewBag.Title</title>

    @Styles.Render("~/bundles/css")

</head>
<body class="lucid">
    <div data-pjax="true">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/scripts")
</body>
</html>
