
*/bin
*/obj
*/*.csproj.user
*.suo
*.sln.cache

_items/Lucid.VisualState.xml
_items/BuildEnvironment.json
_items/TestResult.xml
_items/AssemblyInfo.cs
/.vs
/packages/MSBuildTasks.1.5.0.196/tools/Microsoft.Build.Commontypes.xsd
/packages/MSBuildTasks.1.5.0.196/tools/Microsoft.Build.Core.xsd
/Lucid.Web/Project.zip
