bin
obj
.vs
.vscode
*.user
/Modules/ProjectCreation/Module/Project.zip
/Modules/ProjectCreation/Module/Project.zip.nextUpdate
/Infrastructure/Host/logs.config
/Infrastructure/Host/logs/web.internal.log
/Infrastructure/Host/Web/wwwroot/css/site.min.css
