@inherits System.Web.Mvc.WebViewPage<GenerateModel>
@using System.Web.Mvc.Html
@using Lucid.Web.Html
@using Demo.Web.App.Generation
<!DOCTYPE html>
<html>
<head>
    <title>Generate Project</title>
    <meta charset="utf-8" />
</head>
<body>
    <div>Generate Project</div>

    @Html.ValidationSummary(true)
    @using (var form = Html.Form(Model.Cmd))
    {
        <div>
            @form.Html.LabelFor(c => c.Name, "Project Name")
            @form.Html.TextBoxFor(c => c.Name)
            @form.Html.ValidationMessageFor(c => c.Name)
        </div>

        <input type="submit" value="Generate Project" />
    }
</body>
</html>