@namespace Lucid.Infrastructure.Host.Web.Layout
@using Lucid.Lib.MvcApp.Pages
@{
    PageInfo PageInfo = ViewBag.PageInfo;
}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" href="~/favicon.ico">
    <title>Lucid - @PageInfo.Title</title>

    <script>
        document.documentElement.className = document.documentElement.className.replace("no-js", "js");
    </script>

    <link rel="stylesheet" href="@Context.AddFileVersionToPath("/css/site.min.css")" />

</head>
<body class="lucid">
    <div data-pjax="true">
        @RenderBody()
    </div>
    <script src="@Context.AddFileVersionToPath("/js/site.min.js")"></script>
</body>
</html>
