@namespace Lucid.Infrastructure.Host.Web.Layout
@using Lucid.Infrastructure.Lib.MvcApp.Pages
@{
    PageInfo PageInfo = ViewBag.PageInfo;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" href="~/favicon.ico">
    <title>Lucid - @PageInfo.Title</title>

    <link rel="stylesheet" href="@Context.AddFileVersionToPath("/css/site.min.css")" />

</head>
<body class="lucid">
    <div data-pjax="true">
        @RenderBody()
    </div>
</body>
</html>
