@inherits LucidPage<IList<DesignDto>>
@using Lucid.Web.App.Planning
@{
    SetMenuPage(title: "Designs");
}
<div>Design</div>

<ul id="designList">
    @foreach (var design in Model)
    {
        <li>Design: @design.Name</li>
    }
</ul>

<div>
    @Html.LinkButtonModal("Start Design", Actions.StartDesign())
</div>
