@inherits System.Web.Mvc.WebViewPage<IList<DesignDto>>
@using System.Web.Mvc.Html
@using Lucid.Domain.Contract.Product.Responses
@using Lucid.Web.App.Planning
<!DOCTYPE html>
<html>
<head>
    <title>Designs</title>
    <meta charset="utf-8" />
</head>
<body>

    <div>Design</div>

    <ul>
        @foreach (var design in Model)
        {
            <li>Design: @design.Name</li>
        }
    </ul>

    <div>
        <a href="@Url.Content(Actions.StartDesign())">Start Design</a>
    </div>

</body>
</html>