@inherits LucidPage<StartDesignModel>
@using Lucid.Web.App.Planning
@{
    SetMenuPage(title: "Start Design");
}

@using (var form = Html.FormFor(Model.Cmd).Begin())
{
    @form.Html.ValidationSummary(true)

    @form.Html.LabelledInputText("Design Name", c => c.Name)

    <div class="form-actions">
        @Html.ButtonSubmit("Start Design")
        @Html.LinkButtonCancelModal()
    </div>
}
