@inherits LucidPage<LoginModel>
@using Lucid.Web.App.Home
@{
    SetMenuPage(title: "Login");
}
<div>Login</div>

@Html.ValidationSummary(true)
@using (var form = Html.FormFor(Model.Cmd).Begin())
{
    <div>
        @form.Html.LabelFor(c => c.Name, "Name")
        @form.Html.TextBoxFor(c => c.Name)
        @form.Html.ValidationMessageFor(c => c.Name)
    </div>

    <input type="submit" value="Login" />
}
