@inherits LucidPage<LoginModel>
@using Lucid.Web.App.Home
@{
    SetMenuPage(title: "Login");
}

<div class="base-form">
    @using (var form = Html.FormFor(Model.Cmd).Begin())
    {
        @form.Html.ValidationSummary(true)

        @form.Html.LabelledInputText("Name", c => c.Name)

        using (form.Html.BeginFormButtons())
        {
            @Html.ButtonSubmit("Login").Style(BootstrapButton.Primary)
        }
    }
</div>
