@inherits System.Web.Mvc.WebViewPage<LoginModel>
@using System.Web.Mvc.Html
@using MvcForms
@using Lucid.Web.App.Home
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta charset="utf-8" />
</head>
<body>
    <div>Login</div>

    @Html.ValidationSummary(true)
    @using (var form = Html.FormFor(Model.Cmd))
    {
        <div>
            @form.Html.LabelFor(c => c.Name, "Name")
            @form.Html.TextBoxFor(c => c.Name)
            @form.Html.ValidationMessageFor(c => c.Name)
        </div>

        <input type="submit" value="Login" />
    }
</body>
</html>