@inherits LucidPage<LoginModel>
@using Lucid.Web.App.Home
@{
    SetMenuPage(title: "Login");
}

@using (var form = Html.FormFor(Model.Cmd).Begin())
{
    @form.Html.ValidationSummary(true)

    @form.Html.LabelledInputText("Name", c => c.Name)

    <div class="form-actions">
        @Html.ButtonSubmit("Login")
    </div>
}
