<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="..\logs\web.internal.log">

  <variable name="smtpServer" value="127.0.0.1" />
  <variable name="smtpUserName" value="" />
  <variable name="smtpPassword" value="" />
  <variable name="smtpAuthentication" value="None" />
  <variable name="enableSsl" value="false" />
  <variable name="secureSocketOption" value="None" />
  <variable name="smtpPort" value="25" />
  <variable name="skipCertificateValidation" value="false" />
  <variable name="to" value="support@localhost.com" />
  <variable name="from" value="errors@lucid.com" />

  <extensions>
    <add assembly="NLog.MailKit"/>
    <add assembly="Lucid.Infrastructure.Host.Web"/>
  </extensions>

  <targets>

    <target  name="file" xsi:type="File" fileName="..\logs\web-${shortdate}.log"
      layout="${longdate:universalTime=true}|${uppercase:${level}}|${aspnet-traceidentifier}|${logger}|${message} ${exception:format=ToString}"
      />

    <target name="mailBuffer" xsi:type="VariableBuffer">
      <target name="mail" xsi:type="Mail"
        smtpServer="${smtpServer}"
        smtpUserName="${smtpUserName}"
        smtpPassword="${smtpPassword}"
        smtpAuthentication="${smtpAuthentication}"
        enableSsl="${enableSsl}"
        secureSocketOption="${secureSocketOption}"
        smtpPort="${smtpPort}"
        skipCertificateValidation="${skipCertificateValidation}"
        to="${to}"
        from="${from}"
        subject="Lucid errors"
        layout="${longdate:universalTime=true}|${uppercase:${level}}|${aspnet-traceidentifier}|${logger}|${message} ${exception:format=ToString}${newline}"
      />
    </target>

    <target name="mailBuffer2" xsi:type="VariableBuffer">
      <target name="mail" xsi:type="Mail"
        smtpServer="${smtpServer}"
        smtpUserName="${smtpUserName}"
        smtpPassword="${smtpPassword}"
        smtpAuthentication="${smtpAuthentication}"
        enableSsl="${enableSsl}"
        secureSocketOption="${secureSocketOption}"
        smtpPort="${smtpPort}"
        skipCertificateValidation="${skipCertificateValidation}"
        to="${to}"
        from="${from}"
        subject="Lucid System Alert"
        layout="${longdate:universalTime=true}|${uppercase:${level}}|${aspnet-traceidentifier}|${logger}|${message} ${exception:format=ToString}${newline}"
      />
    </target>

  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />  <!-- BlackHole -->
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Error" writeTo="mailBuffer" />
    <logger name="SystemAlert" minLevel="Trace" writeTo="mailBuffer2" />
  </rules>
</nlog>