@inherits LucidPage<GenerateModel>
@using Lucid.Web.App.Generation
@{
    SetMenuPage(title: "Generate Project");
}

@using (var form = Html.FormFor(Model.Cmd).Begin())
{
    @form.Html.LabelledInputText("Project Name", c => c.Name)

    <div class="form-actions">
        @form.Html.ButtonSubmit("Generate Project").NoPjax()
    </div>
}
