@inherits LucidPage<GenerateModel>
@using Lucid.Web.App.Generation
@{
    SetMenuPage(title: "Generate Project");
}

<div class="base-form">
    @using (var form = Html.FormFor(Model.Cmd).Begin())
    {
        @form.Html.ErrorSummary()

        @form.Html.LabelledInputText("Project Name", c => c.Name)

        using (form.Html.FormButtons())
        {
            @form.Html.ButtonSubmit("Generate Project").NoPjax().Style(BootstrapButton.Primary)
        }
    }
</div>
