@namespace Lucid.Host.Web.Layout
@using Lucid.Lib.MvcApp.Pages
@{
    PageInfo PageInfo = ViewBag.PageInfo;
}
<div data-title="@PageInfo.Title">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@PageInfo.Title</h5>
            <button type="button" class="close" data-close-dialog="false" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            @RenderBody()
        </div>
    </div>
</div>
