
*/bin
*/obj
*/*.csproj.user
*.suo
*.sln.cache
/.vs

_items/BuildEnvironment.json
_items/TestResult.xml
_items/AssemblyInfo.cs
_items/*.VisualState.xml

*.Web/Project.zip

/packages/MSBuildTasks.1.5.0.196/tools/Microsoft.Build.Commontypes.xsd
/packages/MSBuildTasks.1.5.0.196/tools/Microsoft.Build.Core.xsd
