@using MvcForms.Forms
@namespace Lucid.Modules.Account
@inherits Lucid.Infrastructure.Lib.MvcApp.MvcAppPage<IndexModel>
@model IndexModel
@{Setup(pi =>
      {
          pi.Title = "Login";
      });}

<div class="base-form">

    <h5>Log in anonymously</h5>
    <ul>
        <li>You can use any user name you like;</li>
        <li>Anybody can log in using (or re-using) any user name;</li>
        <li>You are consenting to a cookie being used to identify the user name used.</li>
    </ul>

    @using (var form = Html.FormFor(Model.Cmd).Begin())
    {
        @form.Html.LabelledInputText("User Name", m => m.UserName)
    }

</div>
