@inherits System.Web.Mvc.WebViewPage 
<!DOCTYPE html>
<html>
<head>
    <title>Home page</title>
    <meta charset="utf-8" />
</head>
<body>
    <div>Hello world</div>

    <div>
        <ul>
            <!--<li><a href="@Url.Content(Demo.Web.App.Generation.Actions.Generate())">Generate Project</a></li>-->
            <li><a href="@Url.Content(Demo.Web.App.Planning.Actions.List())">Designs</a></li>
        </ul>
    </div>
</body>
</html>
