@using MvcForms.Forms
@namespace Lucid.Modules.ProjectCreation
@inherits Lucid.Lib.MvcApp.MvcAppPage<IndexModel>
@model IndexModel
@{Setup(pi =>
    {
        pi.Title = "Generate Project";
    });}

<div class="base-form">

    @using (var form = Html.FormFor(Model.Cmd).Begin())
    {
        @form.Html.FormGroup("Project Name", fg => fg.InputText(m => m.Name))

        using (form.Html.FormGroupLayout())
        {
            @form.Html.ButtonSubmit("Download .zip").NoPjax()
        }
    }

</div>
