@namespace Lucid.Modules.ProjectCreation
@inherits Lucid.Infrastructure.Lib.MvcApp.MvcAppPage<IndexModel>
@model IndexModel
@{Setup(pi =>
    {
        pi.Title = "Generate Project";
    });}

Generate Project form - @Model.Now

@using (Html.BeginRouteForm("GenerateProject"))
{
    @Html.TextBoxFor(m => m.Cmd.Name)

    <button>Download .zip</button>
}
