@namespace Lucid.Modules.ProjectCreation
@inherits Lucid.Infrastructure.Lib.MvcApp.MvcAppPage<IndexModel>
@model IndexModel
@{Setup(pi =>
    {
        pi.Title = "Generate Project";
    });}

<div class="base-form">
    @using (Html.BeginRouteForm("GenerateProject"))
    {
        <div class="form-group row">
            <label for="Cmd_Name" class="col-sm-4 col-form-label">Project Name</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.Cmd.Name, "", new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 offset-sm-4">
                <button type="submit" data-nopjax="true" class="btn btn-primary">Download .zip</button>
            </div>
        </div>
    }
</div>
