<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="..\logs\mvc.internal.log">

  <targets>
    <target xsi:type="File" name="file" fileName="..\logs\mvc-${shortdate}.log"
      layout="${longdate}|${uppercase:${level}}|${aspnet-traceidentifier}|${logger}|${message} ${exception}" />
  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />  <!-- BlackHole -->
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>