html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.btn {
    // Add margin to Bootstrap buttons, as Razor will render them
    // right next to each other with no white-space
    margin-right: 4px;
    margin-bottom: 4px;
}

td a.btn {
    margin-top: 4px;
}

.is-invalid label {
    // boostrap doesn't make label red in invalid controls
    color: #dc3545;
}

.modal-content {
    border: 0;
}

// https://github.com/twbs/bootstrap/issues/12030
.navbar-toggler:focus {
    outline: none;
}

body {
    width: 100%;
    height: 100%;
}

.lucid {

    .container {
        max-width: 800px;
    }

    header {
        position: absolute;
        overflow: visible;
        top: 0px;
        left: 0px;
        height: 51px;
        right: 0px;

        .container {
            position: relative;
        }

        #logInOut {
            position: absolute;
            top: 0px;
            left: 90px;

            @media (min-width: 768px) {
                left: auto;
                right: 15px;
            }
        }
    }

    .navbar {
        margin-bottom: 0px;
    }

    .main-title {
        position: absolute;
        top: 51px;
        left: 0;
        right: 0;
        height: 30px;
        background: #ddd;
        line-height: 30px;
        font-weight: 600;
    }

    .main {
        position: absolute;
        overflow: auto;
        top: 81px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background: #eee;

        .main-content {
            padding-top: 15px;
        }

        .base-form {
            max-width: 600px;
            border-width: 2px;
            border-radius: 4px;
            border-color: #bbb;
            border-style: solid;
            background-color: #ddd;
            left: 0;
            right: 0;
            margin-top: 15px;
            margin-bottom: 15px;
            margin-right: auto;
            margin-left: auto;
            padding: 15px;
        }
    }

    @media (max-height: 250px) {
        // on tiny screens, prevent the fixed-header
        .navbar {
            position: relative;
        }

        .main {
            position: relative;
        }
    }

    .mfo-dialog {
        background: #eee;
    }
}

html.no-js {
    header {
        position: relative;
        height: auto;
        nav {
            position: relative;
            .dropdown-menu {
                display: block;
                position: initial !important;
            }
        }
    }
    .main-title {
        position: inherit;
    }
    .main {
        position: inherit;
    }
}
